/* General container for login, Spotify API output, and chart */
.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

/* Container for login and chart to be side-by-side */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px; /* Add space below the marquee */
}



/* Keep the login box centered vertically within its container */
.login-container {
  width: 100%; /* Make form full width and scale down */
  max-width: 400px; /* Add a max-width to improve look on large screens */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Styling for the logo */
.logo {
  display: block;
  width: 100px;
  margin: 0 auto 20px auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  animation: bounce 0.3s ease-in-out, throb 1.5s infinite 0.3s;
  transform: translateY(-10px);
}

/* Apply the same bounce effect to the album images */
.album-image {
  display: block;
  margin: 10px auto;
  transition: transform 0.3s ease-in-out;
  width: 200px; /* Increase width from 80px to 150px */
  height: auto; /* Let the height adjust automatically */
}

.album-image:hover {
  animation: bounce 0.3s ease-in-out, throb 1.5s infinite 0.3s;
  transform: translateY(-10px);
}

/* Keyframes for bounce and throb */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes throb {
  0%, 100% {
    transform: scale(1) translateY(-10px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
}

/* Form styles */
.login-container .form-group {
  margin-bottom: 15px;
}

.login-container input {
  width: 100%; /* Ensure full width inside container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Marquee container for top tracks */
.top-tracks-marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.track-by {
  display: block; /* Forces "by" and the artist's name onto a new line */
  margin-top: 5px; /* Add some space between the track name and "by" */
  font-style: italic; /* Optional: make the "by" line italic */
  font-size: 14px; /* Optional: adjust the font size */
}

.marquee {
  white-space: nowrap;
  display: flex;
  animation: marquee 30s linear infinite; /* Adjusted for smoother loop */
}

.marquee ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Adjust gap for better spacing */
}

.marquee li {
  display: inline-block;
  text-align: center;
}

.marquee img {
  vertical-align: middle;
  border-radius: 5px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
