.sidebar {
    height: 100vh;
    flex:20%;
    background:#493166;
    color: white;
    min-width: 245px;
    padding-left: 10px;
    padding-right: 10px;   
    display: flex;
    flex-direction: column;
}

.sidebar-img {
object-fit: contain;
height: 70px;
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sidebar-icon {
    color: white;
}
.sidebar-title {
    margin-left: 10px;
    padding:5px;
    font-size: 12px;
}
.sidebar > hr {
    border: 0.5px solid white;
    width: 95%;
    margin: 10px auto;
}
.sidebarlist >p {
    margin: 10px 0 20px 0;
    font-size: 14px;
}   

.sidebarList {
    display: flex;
    align-items: center;
    color:grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    align-items: center;
}
.sidebarList:hover {
    color: white;
}

.sidebarList-icon {
    padding:0 10px;
}

.sidebarList > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: contain;
}