.sidebarlist {
    display: flex;
    align-items: center;
    color:grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarlist:hover {
    color: white;
}
.sidebarlist-icon {
   padding:0 10px;
}